@model IEnumerable<InfoGeek.Models.Job>

@{
    ViewData["Title"] = "My offers";
    IEnumerable<Category> categories = TempData["Categories"] as IEnumerable<Category>;
}

<h2>My offers</h2>

@if (User.IsInRole("ENTERPRISE"))
{
    @Html.ActionLink("Create new", "Create")

}
<br />
<div class="col-sm">
    <form asp-action="FilterEnterprise">
        <div class="col-sm-3">
            @Html.DropDownList("id", categories.Select(c => new SelectListItem { Value = c.Id.ToString(), Text = c.Name }), new { @class = "form-control" })
        </div>
        <div class="col-sm-3">
            <input type="submit" value="filter" class=" btn btn-default" />
        </div>
    </form>
    <form asp-action="SearchEnterprise">
        <p>
            <div class="col-sm-3">
                <input type="text" name="key" class="form-control" placeholder="Search" />
            </div>
            <div class="col-sm-2">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>

        </p>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Month)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @if (User.IsInRole("ENTERPRISE"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id })
                    @Html.Raw(" | ")
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                    @Html.Raw(" | ")
                    @Html.ActionLink("Details", "DetailsEnterprise", new { id=item.Id })
                }
                @if (User.IsInRole("USER"))
                {
                    @Html.ActionLink("Details", "Details", new { id=item.Id })

                }
                
                
            </td>
        </tr>
}
    </tbody>
</table>
